.h1 {
    display: flex;
    justify-content: center;
    background-color: $h1color ;
}
.precios{
    display: flex;
    justify-content: flex-end;
}

.comidas {
    &__clase{
    border-top: 5px;
        border-color: aqua;
    }
}